* {
  font-family: "Montserrat", sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-height: 100vh;
}
nav {
  margin: 10px 0;
}
nav :last-child,
nav :first-child {
  text-decoration: none !important;
  margin: 0 20px;
}
button {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites {
  margin-bottom: 10vh;
}

.container h1 {
  color: aliceblue;
}
.w-100 {
  width: 100% !important;
}
.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 15px;
  margin: 5vh 0;
}
.input-wrap {
  display: flex;
  align-items: center;
}

.inputs input {
  margin: 10px;
}
.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}
.activity h3 {
  border: 1px solid #4158d0;
  padding: 10px;
  border-radius: 15px;
}
.activity h3 button,
select {
  background: none;
  border: 1px solid #12216b;
  color: #12216b !important;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  text-transform: capitalize;
}

.activity-type {
  display: flex;
  flex-direction: column;
}

.activity-type select {
  color: #fff;
}
.activity-type option {
  color: #12216b;
  text-transform: capitalize;
}
.activity h3 button:hover {
  background-color: #12216b;
  color: #e04343 !important;
}

.activity .btn {
  padding: 20px;
  background-color: transparent;
  border: 1px solid #12216b;
  font-size: large;
  text-transform: uppercase;
}

.btn:hover,
button:hover {
  background: #12216b;
  color: aliceblue;
}

input,
form button,
.btn {
  padding: 10px;
  border: 1px solid #12216b;
  background: none;
  margin: 0 10px;
}

#delete {
  border: 1px solid red;
  color: white;
}
#delete:hover {
  background-color: red;
}

input {
  background-color: aliceblue;
}
